@charset "utf-8";

$global_width:984px;

//header
$header_height:61px;
$header_border_btm_color:#938E8B;
$header_logo_bgc:#D55D5C;
$header_logo_color:#FFFFFF;
$header_logo_width:112px;

//footer
$footer_height:59px;
$footer_border_color:#938E8B;
$footer_color:#D55D5C;

//main
$main_green:#75B86B;
$main_red:#D55D5C;

$main_article_yellow:#F5E327;
$main_article_blue:#11456C;

$main_sect_pink:#EEEED6;