@charset "utf-8";

//global
$global_width:92%;
$global_font-size:14px;
$global_line_height:1.5;

//header
$header_height:60px;
$header_bgc:#333333;
$header_def_color:#DBDAD8;
$header_visited_color:#AAA39B;
$header_logo_width:128px;


//footer
$footer_height:72px;
$footer_bgc:#333333;
$footer_def_color:#DBDAD8;

//main
$main_article_bgc:#ffffff;
$main_bgc:#DEDEDE;
$main_border_color:#CDCDCD;

$main_h2_color:#333333;
$main_h3_color:#666666;
$main_a_color:#0006E5;

$btn_bg_color:#3355D0;