@charset "UTF-8";

@import "base";

table{
//  @include center-translate(both);
//  max-width: min-content;
  min-width: 50%;
  margin:0 auto;
  th{
    background-color: #000000;
    color: #ffffff;
  }
    tr{
      &:nth-of-type(-n+4){color:#ff0000;}
      &:nth-of-type(even){
        background-color: #CCCCCC;}
    }

}
input{
  margin-top: 2rem;
  border:1px solid #dcdcdc;
  width:6rem;
  @include center-box(horizontal);
  transition:all .5s ease;
  &:focus{
    border-color: cornflowerblue;
    width:8rem;

  }
}

.banner-self{
  width:16rem;
  height:9rem;
  margin:4rem auto;
  position: relative;
  overflow: hidden;

  .container{
    position: relative;
    width:300%;
    height:100%;
    font-size: 0;
    transition: 0.5s left;

    li{
      display: inline-block;
      width:calc-width(3);
      height:100%;
      font-size: 1rem;text-align: center;
      line-height:9rem;color: #ffffff;
      &:first-of-type{
        background-color: #843534;}
      &:nth-of-type(2){
        background-color: #67b168;}
      &:last-of-type{
        background-color: #d9534f;}
    }
  }

  #slide1:target~.container{
    left: 0;
  }
  #slide2:target~.container{
    left: -100%;
  }
  #slide3:target~.container{
    left: -200%;
  }



  .controller{
    position: absolute;
    bottom: 0;right: 0;
    width:4.5rem;
    height:1.5rem;
    font-size: 0;
    background-color: rgba(255, 255, 255, .3);
    a{
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 1.5rem;
      color: #ffffff;font-size: 1rem;
      text-align: center;
      &:hover{
        background-color: #31b0d5;
      }
    }
  }
}





